---
title: "What we learned at Contribute 2019"
author: Valerie Silverthorne and Sara Kassabian
author_twitter: gitlab
guest: true
categories: culture
image_title: /images/blogimages/gitlab-contribute-team-photo.png
description: "Community is everything, all remote makes contribution possible, CMO Todd Barr plays a mean trumpet, and more takeaways from Contribute 2019."
tags: community, culture, inside GitLab, remote work
twitter_text: "How an all-remote company came together to celebrate community, contribution, and crawdads. What we learned from #GitLabContribute"
postType: corporate
---

“Community is the best part of GitLab.”

That message, from the [keynote presentation](https://youtu.be/kDfHy7cv96M) during [Contribute 2019 in New Orleans](/company/culture/contribute/), sums up the spirit of GitLab’s seventh all-company gathering. Sure CMO (and MC) [Todd Barr](/company/team/#tbarr) added his trumpet to a NOLA classic, "When the Saints Go Marching In," while others shared potentially embarrassing photos and anecdotes from the past. Contribute newbies, who represented more than half of the over 500 attendees, got advice on how to make the most of the unique event, and CEO [Sid Sijbrandij](/company/team/#sytses) made a clear and compelling case for remote work.

But what stood out most were the ways “community” plays such a vital role at GitLab. “This is our first Contribute,” Sid said. “We changed the name to remind everyone of our mission, that [everyone can contribute](/company/strategy/#mission).” In fact, in the product release before Contribute, contributions from the community to GitLab reached an all-time high of 195, Sid said. Because the company is all remote, “everyone can contribute to GitLab on equal footing.”

In the spirit of community contributions, we asked GitLabbers to share their top takeaways, advice, and feel-good moments from Contribute.

## Your best self

“I’m so pumped for where GitLab is heading,” said strategic account leader [Adam Olson](/company/team/#adamsolson). “Contribute has inspired me to be better GitLabber. (I want to) win more customers while learning more from others.”

## Network like it matters

[Heather Simpson](/company/team/#Heatherswall), senior external communications analyst, got more out of Contribute than expected. “I think because the main focus of Contribute was to spend time getting to know our team members and having fun, the quantity and **quality** of connections I made far exceeded any I'd made at networking or "team building" conferences I'd attended with companies in the past.”

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Our <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> CEO put forth a challenge to make our product better while we’re down in <a href="https://twitter.com/hashtag/NOLA?src=hash&amp;ref_src=twsrc%5Etfw">#NOLA</a> at <a href="https://twitter.com/hashtag/GitLabContribute?src=hash&amp;ref_src=twsrc%5Etfw">#GitLabContribute</a> and teams got to work and made several iterative improvements, so <a href="https://twitter.com/sytses?ref_src=twsrc%5Etfw">@sytses</a> made good on his word and donned this amazing costume (his wife too!) So good. <a href="https://t.co/8nfQCt0NV0">pic.twitter.com/8nfQCt0NV0</a></p>&mdash; Heather Simpson 🌈🍃 (@heatherswall) <a href="https://twitter.com/heatherswall/status/1128129734934704129?ref_src=twsrc%5Etfw">May 14, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

## Spread the wealth

“This was most definitely the best Contribute ever,” said GitLab's unofficial bacon ambassador [Richard “Reb” Baum](/company/team/#therebbie) (who is also a solutions architect). “Focusing on building relationships allowed us to spread the culture and feel of the company to the large number of new people who have joined since the previous event. As an all-remote company, this is critical to our ongoing success.”

## Continued inspiration

“As an early employee here at GitLab and my sixth [Summit](/company/culture/contribute/previous/), I have never felt more inspired after this week in New Orleans,” said [Philip Camillo](/company/team/#pmanjr311), enterprise account executive. “Working remotely, it’s hard to contextualize hiring 10-12 people a week, and it only hit home when I first walked into the opening keynote. Seeing over 500 people in the main room simply left me speechless.

“Leaving Contribute, I’m inspired by all the team members who received awards and all the people who have helped build the product over the years, as well as new team members making an impact immediately by just jumping in.

“Imagine what we will create if we all work towards generating as much value as possible and making everyone around us inspired. Meeting everyone this last week also made me realize that people see you, and the hard work doesn’t go unnoticed. Working remotely, it can be a bit more difficult to see the direct impact you’re making, and the personal brand you’re building with your colleagues.”

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A full house of GitLabbers celebrating and gathering around the notion that Everyone Can Contribute <a href="https://twitter.com/hashtag/GitLabContribute?src=hash&amp;ref_src=twsrc%5Etfw">#GitLabContribute</a> <a href="https://t.co/dWHiSPZGtV">pic.twitter.com/dWHiSPZGtV</a></p>&mdash; John Northrup (@northrup) <a href="https://twitter.com/northrup/status/1126498724518268929?ref_src=twsrc%5Etfw">May 9, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

## Decisions at the speed of light

“I took a lot of notes about the keynote but the thing that really stuck out to me was how Sid emphasized speed of decision making,” said [Emilie Schario](/company/team/#emilieschario), data engineer, analytics. “That was really a lightbulb moment for me.”

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">My awesome teammate <a href="https://twitter.com/rspaik?ref_src=twsrc%5Etfw">@rspaik</a> kicking off day two. Amazing stat he shared: 13.5% of merged MRs to <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> come from our community. <a href="https://twitter.com/hashtag/GitLabContribute?src=hash&amp;ref_src=twsrc%5Etfw">#GitLabContribute</a> <a href="https://t.co/1CUcyFF70y">pic.twitter.com/1CUcyFF70y</a></p>&mdash; John Coghlan (@john_cogs) <a href="https://twitter.com/john_cogs/status/1126853746754039809?ref_src=twsrc%5Etfw">May 10, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

You can check out the rest of the highlights from Contribute below:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/xdtPNXtkBhE" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

Video directed and produced by [Aricka Flowers](/company/team/#arickaflowers)
{: .note}
